.message 
	%center
		%h2 TRES EN RAYA
		%table
			%tr
			%tr
				%th Usuario
				%th
				%th Ganadas
				%th
				%th Perdidas
				%th
				%th Jugadas
			
			- @juego.sort_by {|k, v| v}.reverse.each do |juego|
				%tr
					%td
						#{juego.nombre}
					%td
						#{juego.p_ganadas}
					%td        
						#{juego.jugadas}
					%td
						#{juego.jugar}